// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',YuGothic,'Yu Gothic',sans-serif;
}
a:visited,
a {
    color: #fff !important;
    text-decoration: none;
}
body {
    margin: 0 !important;
    display: flex;
}
.contentarea {
    margin: 0px 0px 0px 150px;
    width: calc(100% - 150px);
    background-image: url("contentarea-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow-y: scroll;
}

// TOPページ
header {
    height:100vh;
    width: 150px;
    position: fixed;
    background-color: #1e50a2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    color: white;
}
.header-listarea {
}
.header-listarea li {
    list-style: none;
    margin: 20px 0px;
}
.font-weight-bold {
    font-weight: bold;
}
img {
    height: 100px;
    width: 100px;
}
.header-listarea li a {
    text-decoration: none;
    color: white;
}

// indexページ
.index-title {
    text-align: center;
    margin: 20px 0%;
}
.index-questionarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.index-question {
    width: 30%;
    margin: 20px 20px;
    border: 1px solid #fff;
}
.index_icon_area {
    display: flex;
}