// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    padding: 0;
    margin: 0;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',YuGothic,'Yu Gothic',sans-serif;
}
body {
    margin: 0 !important;
}
// TOPページ
header {
    height:70px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.header-listarea {
    display: flex;
}
.header-listarea li {
    list-style: none;
    margin-left: 20px;
}
.font-weight-bold {
    font-weight: bold;
}
img {
    height: 100px;
    width: 100px;
}
.header-listarea li a {
    text-decoration: none;
}

// indexページ
.index-title {
    text-align: center;
    margin: 20px 0%;
}
.index-questionarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.index-question {
    width: 30%;
    margin: 20px 20px;
    border: 1px solid #000;
}
.index_icon_area {
    display: flex;
}