// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    padding: 0;
    margin: 0;
    // color: #fff;
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',YuGothic,'Yu Gothic',sans-serif;
}
a {
    // color: #fff !important;
    text-decoration: none;
}
a:hover,a:visited {
    background: none !important;
    color: #000 !important;
}
body {
    margin: 0 !important;
    display: flex;
}
a.nav-link {
    color: #fff !important;
}
.header {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.contentarea {
    margin: 0px 0px 0px 150px;
    width: calc(100% - 150px);
    background-image: url("contentarea-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow-y: scroll;
}

// PAGE TOPページ
p.flash.post-new-post {
    color: #fff;
    width: 300px;
    font-weight: bold;
    background: rgba(113,179,113,1);
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    font-size: larger;
    padding: 10px;
    animation: fadeInOut 15s ease 0s 1 forwards;
    animation-iteration-count: 3;
    -webkit-animation: fadeInOut 15s ease 0s 1 forwards;
}
// p.flash.post-new-post {
//     animation: fadeOut 3s ease 0s 1 forwards;
//     -webkit-animation: fadeOut 3s ease 0s 1 forwards;
// }
@keyframes fadeInOut {
    0% {
        background: rgba(113,179,113,0.5);
        width:350px;
        color: rgba(255,255,255,1);
    }

    20% {
        background: rgba(113,179,113,1);
        width:400px;
        color: rgba(255,255,255,1);
    }

    40% {
        background: rgba(113,179,113,0.5);
        width:350px;
        color: rgba(255,255,255,1);
    }

    60% {
        background: rgba(113,179,113,1);
        width:400px;
        color: rgba(255,255,255,1);
    }

    80% {
        background: rgba(113,179,113,0.5);
        width:350px;
        color: rgba(255,255,255,1);
    }

    90% {
        background: rgba(113,179,113,1);
        width:400px;
        color: rgba(255,255,255,1);
    }

    100% {
        background: rgba(113,179,113,0);
        color: rgba(255,255,255,0);
}
}
// @keyframes fadeInOut {
//     0% {
//       opacity: 1;
//       width:350px;
//     }

//     100% {
//       opacity: 0;
//       width: 300px;
//     }
// }
.fa-paper-plane:before {
    margin: 10px !important;
}
header {
    height:100vh;
    width: 150px;
    position: fixed;
    background-color: #1e50a2;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    color: white;
}

.header-listarea li {
    list-style: none;
    margin: 20px 0px;
}
.font-weight-bold {
    font-weight: bold;
}
img {
    height: 100px;
    width: 100px;
}
.header-listarea li a {
    text-decoration: none;
    color: white;
}

// PAGE indexページ
.search-area {
    // 
}
.search-form {
    display: flex;
    justify-content: center;
}
.search-btn {
    padding: 10px;
    background-color: rgba(255,255,255,1);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input#search  {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    width: 300px;
} 
input#search:focus {
    outline: 0;
} 
.index-title {
    text-align: center;
    margin: 20px 0%;
    color: #fff;
}
.index-questionarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.index-questionarea::after {
    content: '';
    display: block;
    width: 900px;
    height: 0;
}
.index-question {
    width: 350px;
    margin: 20px 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 15px #fff;
}
.index_icon_area {
    display: flex;
}
.proposer {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}
.question-content {
    height: 145px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.goodbtn {
    padding: 0px 0px 0px 0px;
}
.index_icon_area {
    padding: 0px 0px 0px 10px;
}
.index_icon_area p {
    margin-right: 10px;
}
.index_icon_area p:last-child {
    margin: 0px 0px 0px auto;
    padding-right: 10px;
}
.good_answerlink {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

// PAGE pegination
.pagination {
    display: block;
    justify-content: center;
    margin-top: 30px;
}

// PAGE show 
.show {
    color: #fff;
}
a.show.to-post-comment,
a.show.to-post-edit,
a.show.to-top{
    color: #fffc !important;
}

.index-question.show {
    margin: 100px auto 50px auto;
    color: #000;
}

.show-content-area {
    text-align: center;
    margin-top: 50px;
}

// PAGE comment new
.comment {
    color: #fff;
    margin: 10px;
} 
.comment-new {
    width: 50%;
    margin: 100px auto 50px auto;
    text-align: center;
}
textarea#comment_answer {
    color: #000;
}

// PAGE TODAY
.index-question.today {
    margin: auto;
    //margin-top: 100px;
}

h1.today-title {
    color: #fff;
    text-align: center;
    margin: 20px 0px;
}

// PAGE ranking
.index-title.ranking {
    margin: 20px 0px 10px 0px;
}

// refactoring
article, aside, figcaption, figure, footer, header, hgroup, main,section{
    display: flex !important;
}
.nav-link {
    padding: 0 !important;
}
a.page-link:hover {
    color: #fff !important;
    font-weight: bold;
}
h1 {
    font-size: x-large !important;
}

// responsible
@media screen and (max-width: 768px) {
    header {
        height: 280px;
        width: 100%;
        text-align: center;
        transform: translate(0px,-215px);
        -webkit-transform: translate(0px,-215px);
        -moz-transform: translate(0px,-215px);
        -ms-transform: translate(0px,-215px);
        -o-transform: translate(0px,-215px);
    }
    .header::after {
        display: block;
        content: '';
        width: 50px;
        height: 50px;
        background-color: #fff;
        position: absolute;
        top: 80%;
        right: 1%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .header.is-active {
        transform: translate(0px, 0px);
        transition: 1s;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
    }
    .contentarea {
        margin: 0px;
        width: 100%;
        padding-top: 60px;
    }
    .index-question {
        width: 300px;
    }
}
@media screen and (max-width: 400px) {
    .index-question {
        width: 90%;
        margin: 20px 0px;
    }
}